<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>view-prefix</param-name>
        <param-value>/WEB-INF/pages/</param-value>
    </context-param>
    <context-param>
        <param-name>view-suffix</param-name>
        <param-value>.html</param-value>
    </context-param>
    <servlet>
        <servlet-name>ToIndexPageServlet</servlet-name>
        <servlet-class>cn.itcast.servlet.ToIndexPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToIndexPageServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAllSoldierServlet</servlet-name>
        <servlet-class>cn.itcast.servlet.ShowAllSoldierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllSoldierServlet</servlet-name>
        <url-pattern>/showAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ToAddSoldierPageServlet</servlet-name>
        <servlet-class>cn.itcast.servlet.ToAddSoldierPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToAddSoldierPageServlet</servlet-name>
        <url-pattern>/toAddSoldier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSoldierServlet</servlet-name>
        <servlet-class>cn.itcast.servlet.AddSoldierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSoldierServlet</servlet-name>
        <url-pattern>/addSoldier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSoldierServlet</servlet-name>
        <servlet-class>cn.itcast.servlet.DeleteSoldierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSoldierServlet</servlet-name>
        <url-pattern>/deleteSoldier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ToUpdateSoldierPageServlet</servlet-name>
        <servlet-class>cn.itcast.servlet.ToUpdateSoldierPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToUpdateSoldierPageServlet</servlet-name>
        <url-pattern>/toUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateSoldierServlet</servlet-name>
        <servlet-class>cn.itcast.servlet.UpdateSoldierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSoldierServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
</web-app>